html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: url(/assets/images/login_bg.jpg) no-repeat center;
    background-size: cover;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
    vertical-align: middle;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.loginAndRegBox {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title-box {
    height: 60px;
    background: url(/assets/images/login_title.png) no-repeat center;
}

.reg-box {
    display: none;
}

.layui-form {
    padding: 0 30px;
}

.links {
    text-align: right;
}

.links a {
    font-size: 12px;
}

.layui-form-item {
    position: relative;
}

.layui-form-item .layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.layui-input {
    padding-left: 30px;
}